.stepThreeMainWrapper{
    display: flex;
    flex-direction: row;
}

.stepThreeWrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.stepThreeone{
    margin-top: 5%;
    font-size: 150%;
    font-weight: bolder;
}

.stepThreetwo{
    margin-top: 5%;
    font-size: 150%;
    font-weight: bolder;
}