.stepTenWrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;  
    font-family: Courier New, monospace;
    color: #88C558;
    text-align: left;
}

.stepTenone{
    margin-top: 5%;
    font-size: 150%;
    font-weight: bolder;
}

.stepTentwo{
    margin-top: 5%;
    font-size: 150%;
    font-weight: bolder;
}