.signInMainWrapper{
    display: flex;
    flex-direction: column;
}

.signInContainer {
    display: flex;
    flex-direction: column; 
    font-size: x-large;
    margin-top: -4%;
}

.buttonsWrapper {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordHeaderwrapper {
    margin-top: 7%;
}

.passwordInputBoxWrapper input {
    width: 15vw;
    height: 3vh;
    font-size: 17px;
}

.emailInputBoxWrapper input {
    width: 15vw;
    height: 3vh;
    font-size: 17px;
}

.signingInButtonWrapper {
    margin-top: 5%;
    background: #89C559;
    border: none;
    height: 4vh;
    width: 12vw;
    border-radius: 15px;
    font-family: Courier New, monospace;
    font-weight: bold;
    font-size: 90%;
}

.signingInButtonWrapper:hover {
    cursor: pointer;
    filter: brightness(150%); 
}

.backButtonWrapper {
    margin-top: 6%;
    background-color: #9CADA7;
    border: none;
    height: 4vh;
    width: 12vw;
    border-radius: 15px;
    font-family: Courier New, monospace;
    font-weight: bold;
    font-size: 90%;
}

.backButtonWrapper:hover {
    cursor: pointer;
    filter: brightness(150%); 
}

.signInHeaderWrapper {
    font-size: 200%;
    margin-bottom: 5%;
}

.googleButtonWrapper {
    border: none;
    height: 3vh;
    width: 2vw;
    border-radius: 15px;
    font-family: Courier New, monospace;
    font-weight: bold;
    font-size: 90%;
    margin-left: -5%;
}

.googleSignInButton {
    height: 4vh;
    width: 13vw;
    margin-top: 12%;
    font-family: Courier New, monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8d3cf; 
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 53%;
    padding: 10px;
}

.googleSignInButton:hover {
    filter: brightness(120%); 
}

.githubSignInButton {
    height: 4vh;
    width: 13vw;
    margin-top: 5%;
    font-family: Courier New, monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8d3cf; 
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 53%;
    padding: 10px;
}

.githubSignInButton:hover {
    filter: brightness(120%); 
}

.githubButtonWrapper {
    border: none;
    height: 3vh;
    width: 2vw;
    border-radius: 15px;
    font-family: Courier New, monospace;
    font-weight: bold;
    font-size: 90%;
    margin-left: -5%;
}